<div class="settings settings-password content-wrapper">
  <nav class="sub box"><ul><ng-include src="'/static/tpl/settings-nav.html'"></ng-include></ul></nav>
  <div class="box">
    <section>
      <ul>
        <li><a href="/accounts/password/change/" ng-bind="tr('change password')"></a></li>
        <li><a href="/accounts/email/" ng-bind="tr('change email address')"></a></li>
        <li><a href="/accounts/logout/">{{ tr('logout') }}</a></li>
      </ul>
    </section>

<!--

### Currently using Django AllAuth provided pages for password reset and email editing.
### TODO: Fix up here (low priority).
### 2015-07-26 cst 

    <section>
      <input type="password" ng-model="old_password" placeholder="{{ tr('old password') }}">
      <span class="helptext" ng-bind="tr('Type in your old password first.')"></span>
      <div class="form-error-msg" ng-if="submitError == 'old_password'" ng-bind="tr('Please type in your old password.')"></div>
    </section>

    <section>
      <span><input type="password" ng-model="new_password_1" placeholder="{{ tr('new password') }}"></span>
      <span><input type="password" ng-model="new_password_2" placeholder="{{ tr('new password again') }}"></span>
      <button ng-hide="isSubmitting" class="btn submit-btn primary-btn" type="submit" ng-bind="tr('change password')" ng-click="submitPasswordForm()"></button>
      <span ng-show="isSubmitting" class="loading-spinner"><span></span><span></span><span></span></span>
      <div class="form-error-msg" ng-if="submitError == 'new_password_1'" ng-bind="tr('Please type the same new password (at least 6 characters) into both fields.')"></div>
    </section>

    <section>
      <span><input type="text" name="email" ng-model="authuser.email" placeholder="email@address"></span>
      <button ng-hide="isSubmitting" class="btn submit-btn primary-btn" type="submit" ng-bind="tr('change email address')" ng-click="submitEmailForm()"></button>
      <span ng-show="isSubmitting" class="loading-spinner"><span></span><span></span><span></span></span>
    </section>
-->
  </div>
</div>